node_modules/
build

# Logs
logs
_.log
docker/local/tempo-data

# Caches
.cache
*.tsbuildinfo
.eslintcache

# ends
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# ides
.idea
